* {
    margin: 0;
    padding: 0;
}
body {
    direction: rtl;
    text-align: right;
    /* margin: 0 10px; */
    background-color: #1c1c22;
}

header {
    background-color: #0e0e12;
    padding: 10px;
    /* text-align: center; */
}

a {
    color: #c6c9cc;
    text-decoration: none;
    margin-left: 10px;
    
}

a:hover {
    color: #e6e7e9;
}

#searchbox {
    background-color: #1b1b1f;
    border: none;
    padding: 10px;
    font-size: 14px;
}
#searchbox::placeholder {
    color: #878c97;
}

#navbar {
    display: grid;
    grid-template-columns: auto auto auto;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
  }

.button:hover {
    background-color: #4dda52; /* Green */
    cursor: pointer;
}

#hero {
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
}   

#hero img {
    border-radius: 5px;
}

.row img {
    border-radius: 5px;
    margin: 0 5px;
}

h1 {
    font-size: 16px;
}

.movies {
    padding: 20px;
}


#m-copyright {
    color: #518cca;
}
#satisfy {
    color: #a5a8ae;
}
ul {
    list-style-type: none;
}

li {
    color: #a5a8ae;
}

/* Top right bottom left */
.storyline {
    color: #7c848d;
    padding: 10px 10px 10px 0;
    background-color: #1c1c22;
    width: 100%;
}

.movie hr {
    color: #1c1c22;
    width: 100%;
    margin: 10px 0;
    
}

.movie {
    margin-top: 10px;
    display: flex;
    background-color: #23232b;
    padding: 20px;
}

.movie img {
    float: right;
    margin-left: 20px;
}

.movie .left {
    flex-grow: 2;
    display: flex;
    flex-direction: column;


}
.left div {
    margin-top: 10px;
}
.movie-genre {
    padding-top: 10px;
}
.movie-genre li {
    display: inline;
    margin-left: 10px;
}

.actor-list {
    margin: 10px 0;
}
.actor-list li {
    display: inline;
    margin-left: 5px;
}

.directors li {
    display: inline;
    margin-left: 5px;
}

.download li {
    display: inline;
    margin-left: 40px;
}

.download {
    width: 100%;
    flex-grow: 2;
}

.download ul {
    float: right;
    margin-top: 10px;
}
.download a {
    border: 1px solid #6898f8;
    padding: 10px 20px;
    float: left;
    border-radius: 5px;
    color: #6898f8;
}

.download a:hover {
    background-color: #6898f8;
    color: #fff;
}

.download i {
    margin-left: 10px;
}

.title h1 {
    float: right;
}  
