* {
    margin: 0;
    padding: 0;
}
body {
    direction: rtl;
    text-align: right;
    margin: 0 10px;
    background-color: #1c1c22;
}

header {
    background-color: #0e0e12;
    padding: 10px;
    /* text-align: center; */
}

a {
    color: #c6c9cc;
    text-decoration: none;
    margin-left: 10px;
    
}

a:hover {
    color: #e6e7e9;
}

#searchbox {
    background-color: #1b1b1f;
    border: none;
    padding: 10px;
    font-size: 14px;
}
#searchbox::placeholder {
    color: #878c97;
}

#navbar {
    display: grid;
    grid-template-columns: auto auto auto;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
  }

.button:hover {
    background-color: #4dda52; /* Green */
    cursor: pointer;
}
